@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
/* font-family: 'Spartan', sans-serif; regular 400*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;600&display=swap');
/* font-family: 'Spartan', sans-serif; semibold 600*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Spartan', sans-serif;
    background-image: url('https://img.freepik.com/vector-gratis/fondo-paisaje-bosque-crepuscular-silueta_1308-67749.jpg?w=740');
    background-repeat: no-repeat;
    background-size: cover;
}

/* #root{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
} */

.general-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


/*---------------------Button--------------------*/
.toolbar{
    align-items: center;
    justify-content: center;
    background-image: url('https://img.freepik.com/vector-gratis/fondo-paisaje-bosque-crepuscular-silueta_1308-69379.jpg?t=st=1647910053~exp=1647910653~hmac=cb847643be9f16eb993c24c9e5d59bf28269eb87b468841a5319cca2d17b29f4&w=740');
    background-position: top;
    opacity: .7;
    border: 1 px solid black;
    box-shadow: 2px 4px 6px 7px rgb(0,0,0,.3);
    border-radius: 5px;
    display: flex;
    padding: 10px;
    width: 90%;
    height: 50px;
    
}


.btnplus i{
    font-size: 12px;
}

button{
    font-size: 12PX;
}

/* .btnplus{
    border: none;
    border-radius: 5px;
    background-color: #330057;
    color: white;
    height: 30px;
    width: 70px;
    transition: all 350ms;
} */

/* .btnplus:hover{
    background-color:#006CFF;
} */


/*---------------------UserForm--------------------*/

.general{
    padding: 20px;
    width: 360px;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: #672989; */
    background-image: url('https://img.freepik.com/vector-gratis/fondo-paisaje-bosque-crepuscular-silueta_1308-69379.jpg?t=st=1647910053~exp=1647910653~hmac=cb847643be9f16eb993c24c9e5d59bf28269eb87b468841a5319cca2d17b29f4&w=740');
    background-position: 50%;
    opacity: .9;
    box-shadow: 2px 4px 6px 7px rgb(0,0,0,.3);
    height: 320px;
    border-radius: 10px;
}

form{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input[type='text'],input[type='submit']{
    border-radius: 5px;
    border: 1px solid #672989;
    padding: 5px;
    margin-top: 10px;
}

input[type='submit']{
    border: none;
    background-color: #4E0E70;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: all 350ms;
}
input[type='submit']:hover{
    background-color: #330057;
}
input[type='submit']:active{
    background-color: 2px solid #330057;
}

/*---------------------UserList--------------------*/

.table-user{
    padding: 10px;
    width: 95%;
    font-size: 10px;
    margin-top: 0;
    background-color: #330057;
    background-image: url('https://img.freepik.com/vector-gratis/fondo-paisaje-bosque-crepuscular-silueta_1308-69379.jpg?t=st=1647910053~exp=1647910653~hmac=cb847643be9f16eb993c24c9e5d59bf28269eb87b468841a5319cca2d17b29f4&w=740');
    background-position: 50%;
    box-shadow: 2px 4px 6px 7px rgb(0,0,0,.5);
    border-radius: 10px;
    margin-top: 30px;

}

.head-title{
    padding: 5px;
    text-align: start;
    line-height: 30px;
    background-color: #330057;
    border-top: 1px solid #C29FD1;
    color: #FCF7FF;
}

th{
    border-bottom: 1px solid #672989;
    font-size: 7px;
}

td{
    border-bottom: 1px solid #DFEEF0;
    background-color: #672989;
   
    text-align: start;
    padding: 3px;
    height: 30px;
    font-size: 7px;
    color: #FCF7FF;
}

.circle{
    border-radius: 50px;
}

.options-user{
    display: flex;
    width: 60px;

    background-color: transparent;
    border-bottom: none;
    justify-content: center;
    align-items: center;
    padding: 1px;
}

.options-user button i{
    font-size: 10px;
  
}

.btn-edit{
    background-color: #39E417;
    border: none;
    color: white;
    height: 20px;
    width: 20px;
    transition: all 350ms;
}

.btn-delete{
    background-color: #E44617;
    border: none;
    color: white;
    height: 20px;
    width: 20px;
    transition: all 350ms;
}

.btn-edit:hover{
    background-color: #005A00;
}
.btn-delete:hover{
    background-color: #C22400;
}

/* /footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
 
} */

footer p{
    margin-top: 20px;
    padding: 5px;
    color: #FCF7FF;
    text-align: center;
}

/*------------------RESPONSIVE-768------------------*/

@media screen and (min-width: 768px){

    /*---------------------Button--------------------*/
    .toolbar{
        padding: 10px;
        margin-bottom: 15px;
        width: 90%;
        height: 60px;
    }
    
    .btnplus i{
        font-size: 16px;
    }
    
    button{
    font-size: 16PX;
    }

    .btnplus{
        height: 40px;
        width: 80px;
    }

    /*---------------------UserForm--------------------*/

    input[type='text'],input[type='submit']{
        padding: 10px;
        margin-top: 10px;
    }
    
    /*---------------------UserList--------------------*/

   table{
    margin-top: 100px;
    width: 90%;
    }
    
    .head-title{
        line-height: 25px;
    }

    th{
        font-size: 12px;
        padding: 5px;
    }

    td{
        font-size: 12px;
        padding: 5px;
    }
    
    .options-user{
        width: 80px;
    }

    .options-user button i{
        font-size: 12px;
    }

    .btn-edit{
        height: 25px;
        width: 25px; 
    }
    
    .btn-delete{
        height: 25px;
        width: 25px;   
    }


}


/*------------------RESPONSIVE-1024------------------*/

@media screen and (min-width: 1024px){

    /*---------------------Button--------------------*/

    /*---------------------UserForm--------------------*/
    
    /*---------------------UserList--------------------*/
    
    .head-title{
        line-height: 32px;
    }

    th{
        font-size: 16px;
    }

    td{
        font-size: 16px;
        padding: 10px;
    }
    
    .options-user button i{
        font-size: 14px;
    }

    .btn-edit{
        height: 30px;
        width: 30px; 
    }
    
    .btn-delete{
        height: 30px;
        width: 30px;   
    }

}